# -- The following settings must be changed

# The repository to mirror from
CONF_ORIGIN_URL=https://github.com/mrts/git-mirror.git

# Full path to the mirror directory
CONF_GITDIR=`pwd`/git-mirror

# When synchronizing two repositories, the remote name and URL of the other,
# non-origin repo
CONF_OTHER_REMOTE=gitlab
CONF_OTHER_URL=localhost:mirror/git-mirror.git
CONF_OTHER_GITDIR=/var/opt/gitlab/git-data/repositories/mirror/git-mirror.git

# -- The following setting may, but doesn't need to be changed

# Cron run frequency, every 1 minutes
CONF_FREQUENCY=1
