# -- The following settings must be changed

# The repository to mirror from
CONF_ORIGIN_URL=gitmirror-origin-host:git/repo.git

# Full path to the mirror directory
CONF_GITDIR=/var/opt/gitlab/mirroring-tools/repo.git

# When synchronizing two repositories, the remote name and URL of the other,
# non-origin repo
CONF_OTHER_REMOTE=gitlab
CONF_OTHER_URL=localhost:mirror/repo.git
CONF_OTHER_GITDIR=/var/opt/gitlab/git-data/repositories/mirror/repo.git

# -- The following setting may, but doesn't need to be changed

# Cron run frequency, every 2 minutes
CONF_FREQUENCY=2
