# -- The following settings must be changed

# The repository to mirror from
CONF_UPSTREAM_URL=https://github.com/mrts/git-mirror.git

# Full path to the mirror directory
CONF_GITDIR=`pwd`/git-mirror

# When synchronizing two repositories, the remote name of the other,
# non-origin repo
CONF_OTHER_REPO=gitlab

# -- The following setting may, but doesn't need to be changed

# Cron run frequency, every 1 minutes
CONF_FREQUENCY=1
